<% include header %>

<nav class="navbar navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Humans Of FAST NUCES</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#motivation">Motivation<span class="sr-only">(current)</span></a></li>
        <li><a href="#about">About</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Jump To
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="dropdown-item"><a href="#context">Context</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-item"><a href="#technologies">Technologies</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-item"><a href="#creator">Creator</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- JUMBOTRON -->
<div class="jumbotron text-center">
  <div class="container">
    <h1>Humans Of FAST NUCES</h1>
    <p>A student psychology + codin project</p>
    <a href="https://github.com/Rubix982/Humans-Of-FAST-NUCES---Karachi" class="btn btn-primary">Check Out Github Repo</a>
  </div>
</div>

<div class="container">

  <div>
    <h2 id="about" class="page-header">About <small>(An introduction)</small></h2>
    <h4><span>So What Is This?</span></h4>
    <p class="lead">
      <a href="github.com/rubix982/All-You-Read-Is-FAST"><u><i>"Humans Of FAST NUCES - Karachi"</i></u></a>
      is a page dedicated and maintained for people and content writers who wish to write, contribute, and
      share their thoughts this quarantine - whatever it maybe, jokes, blog posts, maybe something like "Humans Of XYZ", and so on.
    </p>

    <!-- BLOCKQUOTE -->
    <blockquote class="blockquote-reverse">
      <p><small>Because why not?</small></p>
       <footer>Quote by <cite title="Saif Ul Islam">Saif Ul Islam, 2020</cite></footer>
    </blockquote>

  </div>

  <div>
    <h2 id="motivation" class="page-header">Motivation <small>(The idea itself)</small> </h2>
    <h4><span>How is this useful?</span></h4>
    <p>
      "Humans Of FAST NUCES - Khi"  is a page meant to be dedicated and
      maintained for people and content writers who wish to write, contribute,
      and share their thoughts this quarantine - whatever it maybe, jokes,
      blog posts, from the community of people at FAST NUCES - Khi.

      It was created for the purpose for providing a common platform for people
      at FAST NUCES - Khi to come together and write and keep communicated
      during the epidemic of COVID-19, Summer/Spring of 2020.
    </p>
  </div>

  <div>
    <h2 id="context" class="page-header">
        Context <small>(Why I did it)</small>
    </h2>
    <h4>
      <span class="text-capitalize text-left">It's a semester project, really</span>
    </h4>

    This was a short project for Psychology ( <span id="course-id">SS118</span> ).
  </div>

  <div>
    <h2 id="technologies" class="page-header">Technologies</h2>
      The code is hosted on <a href="https://www.github.com/rubix982/All-You-Read-Is-FAST">a github repository</a>, and uses
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwbskacR-JbaTBFKiDM5jaNOPD_P02usg7lq4JJbRLIJmuBwKw&s" alt="heroku logo" style="width: 50px; height: 50px;" /><span id="heroku">
      Heroku</span> for deployment. The database used is
      <span id="db">PostgreSQL</span>.

      <br>

      The page itself can be found at <a href="https://web.facebook.com/Humans-Of-FAST-NUCES-Khi-101048718279439">here</a>.

      <ul style="list-style-type:upper-roman;">
        <li>Why <b>PostgreSQL</b> ? Because Heroku offers the ( hobby-dev ) service for free.</li>
        <li>Why <b>Heroku?</b> Because PostgreSQL comes free with it.</li>
      </ul>
  </div>

  <div>
    <h2 id="creator" class="page-header">Creator</h2>
    <p>
      The creator is a sophomore from FAST NUCES, Karachi.
      You can contact me at
      <a href="https://web.facebook.com/SaifUlIslam9019">Facebook</a>,
      <a href="https://github.com/rubix982">Github</a>, or
      <a href="https://www.linkedin.com/in/saif-ul-islam-93786b187/">LinkedIn</a>,
      or if you want to send me a message, just email me <a href="mailto:saifulislam84120@example.com?subject=Feedback&body=Dummy%20Message">here</a>
    </p>
  </div>

  <div>
    <h2 id="credits" class="page-header">Credits</h2>
      The list of useful repositories and tutorials can be found here.
      The rest of the main research is in <a href="https://github.com/Rubix982/Humans-Of-FAST-NUCES---Karachi">
      <code>misc/Research.md</code></a>.
      I made section for myself to look up relevant material later on:

      <ul>
        <li><a href="https://github.com/fbsamples/messenger-platform-samples">Messenger platform examples</a></li>
        <li><a href="https://developers.facebook.com/docs/messenger-platform/getting-started/quick-start">Quick Start</a></li>
      </ul>

      <i><small>And others that I will add later on</small></i>
  </div>

  <div style="height: 400px;"></div>

  </div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
crossorigin="anonymous"></script>

<% include footer %>
